page-home {
/*
    .scroll-content{
        background: url("../assets/img/i4.png") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    
    }
*/
}
